<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mvc Sample</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <!-- Mvc Sample CSS -->
    <link href="~/Content/Main.css" rel="stylesheet">
</head>
<body>
    <!-- Fixed navbar -->
    @{
        Html.RenderPartial("~/Views/Partial/_Menu.cshtml");   
    }

    <!-- Begin page content -->
    <div class="container">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts",false)

</body>
</html>



